<template>
  <div class="mapbox-gl-container" id="map" />
</template>

<script>
  import mapboxgl from 'mapbox-gl'
  export default {
    name: 'Map',
    props: {
      accessToken: {
        type: String,
        required: true
      }
    },
    mounted() {
      mapboxgl.accessToken = this.accessToken;
      this.map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 9 // starting zoom
      });
    }
  }
</script>

<style lang="scss">
  @import '~mapbox-gl/dist/mapbox-gl.css';
  @import './map';
</style>
